# Ignore the envJarvis directory
/envjarvis/
/envJarvis311
# Not install/ not use contact.csv contact.csv
contacts.csv

# Leave jarvis.db
jarvis.db

# Dont take Python bytecode files in backend
/backend/__pycache__/ 

# Ignore backend cookie.json
/backend/cookie.json
/build
/dist
